body {
	margin: 0;
	padding: 0;
	background-color: #444db7;
}

.App {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.5px;
	font-size: 16px;
	color: white;
}

.app-title {
	font-family: 'Montez', 'Over the Rainbow', cursive;
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: normal;
	color: white;
	-webkit-transform: scale(1.2, 1);
	text-shadow: 4px 4px 6px black;
	margin: 8px 0;
}

.letter-decoration {
	color: #a5bbff;
	font-size: 50px;
	animation: cycle-colors infinite 20s linear;
}

#game-menu {
	position: relative;
	z-index: 9;
	margin: 0 auto;
	width: 700px;
	padding: 2px;
	border-top: 1px solid rgb(180, 160, 200);
	border-bottom: 1px solid rgb(180, 160, 200);
	margin-bottom: -15px;
}

/* player absolutely positioned in webgl-style.css */
.webgl-content {
	position: relative;
	margin: 0 auto;
	width: 992px;
	height: 558px;
	z-index: 0;
}

/* project dimensions as set in Unity*/
#gameContainer {
	width: 992px;
	height: 558px;
}

.webgl-content .footer {
	margin-bottom: 100px;
}

a {
	animation: txt-hover-out;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	text-decoration: none;
}

a:hover {
	animation: txt-hover;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	text-decoration: underline;
}

/* UI for system and language selection */
.systems-list  {
	animation: fade-in forwards 1s ease-in;
}

.systems-list ul {
	list-style-type: none;
	padding: 0;
}

.systems-list ul li {
	display: inline;
	margin: 0 10px;
	line-height: 20px;
}

.systems-list a {
	cursor: pointer;
}

.menu-loading {
	animation: fade-out forwards 3s ease-out;
}

.systems-list .selected {
	cursor: crosshair;
	animation: txt-embolden;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
}

.systems-list p {
	font-size: 14px;
}

.system-description-anim {
	animation: txt-in forwards 1s ease-out;
}

@keyframes fade-in {
	0% { opacity: 0; }
	25% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes txt-in {
	from {
		opacity: 0;
		transform: scale(0.9,0.9);
	}
	to {
		opacity: 1;
		transform: scale(1,1);
	}
}

@keyframes txt-embolden {
	from {
		color: #a5bbff;
		letter-spacing: 2px;
		font-weight: normal;
		text-shadow: 0 0 0;
		font-size: 16px;
		letter-spacing: 0.5px;
		text-shadow: 0 0 0;
	}
	to {
		font-weight: bold;
		text-shadow: 2px 2px 4px;
		font-size: 18px;
		letter-spacing: 2px;
		text-shadow: 2px 2px 4px black;
	}
}

@keyframes cycle-colors {
	0% { color: #a5bbff; }
	25% { color: orange; }
	50% { color: white; }
	75% { color: cyan; }
	100% { color: #a5bbff; }
}

@keyframes txt-hover {
	from {
		color: white;
		letter-spacing: 0;
	}
	to {
		color: #a5bbff;
		letter-spacing: 2px;
	}
}

@keyframes txt-hover-out {
	from {
		letter-spacing: 2px;
		color: #a5bbff;
	}
	to {
		letter-spacing: 0px;
		color: white;
	}
}